# Зависимости
node_modules/
package-lock.json.bak

# Сборка
dist/
build/
.cache/

# Окружение
.env
.env.local

# Редакторы и ОС
.vscode/
.idea/
*.swp
Thumbs.db
desktop.ini
.DS_Store

# Логи
*.log
npm-debug.log*
